*~
sqlite3
sqlite3.fts3ext
sqlite3.fts3ext.?*
sqlite3.nofts3ext
sqlite3.nofts3ext.?*
/sqlite-amalgamation-*.zip
/sqlite-source-*.zip
sqlite3.c
sqlite3.h
sqlite3ext.h
sqlite3.def
shell.c
/index.db3
/index.db3-journal
/index.db3.tmp
/test.exp
/test.out
/sqlite3.dl
